{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="row row-cols-4 row-cols-md-3 g-4">
        {% for listing in active_listings %}
        <div class="col">
          <div class="card my-2">
            <div class="card-body bg-info text-white" >
            <h5 class="card-title">{{listing.title}}</h5>
            <p class='card-text'>{{listing.description}}</p>
            </div>
            <ul class="list-group list-group-flush ">

              {% if listing.listing_image %}
              <img src={{listing.listing_image}} class="card-img-top">
              {% endif %}
              <li class="list-group-item">Starting Bid: {{listing.starting_bid}}</li>
              <li class="list-group-item">Category: {{listing.category}}</li>
            </ul>
          </div>
          <a href="listing/{{listing.id}}" class="stretched-link"></a>
        </div>
        {% endfor %}
    </div>

{% endblock %}
