{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing {{listing.Title}}</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="card" style="width: 18rem;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
      <h5 class="card-title">{{listing.title}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class='list-group-item'>Description: {{listing.description}}</li>
        <li class="list-group-item">Starting Bid: {{listing.starting_bid}}</li>
        <li class='list-group-item'>Current Bid: {{current_bid}}</li>
        <li class="list-group-item">Category: {{listing.category}}</li>
        {% if listing.listing_image %}
        <li><img src={{listing.listing_image}}></li>
        {% endif %}
        {% for comment in comments%}
        <li class="list-group-item">{{comment}}</li>
        {% endfor %}
      </ul>
      <form class="" action="{% url 'bid' listing.id %}" method="post">
        {% csrf_token %}
        {{bid_form.as_p}}
        <input type="submit" value="Place Bid">
      </form>

      <form class="" action="{% url 'add_comment' listing.id %}" method="post">
        {% csrf_token %}
        {{comment_form.as_p}}
        <input type="submit" value="Add Comment">
      </form>

      <a href="{% url 'add_watchlist' listing.id %}">Add to Watchlist</a>
      <a href="{% url 'remove_watchlist' listing.id %}">Remove from Watchlist</a>


    </div>

{% endblock %}
